/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.head{
 text-align: center; 
  
      
  
}

.results {
    margin-top: 20px;

}

.result {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.result h2 {
    font-weight: bold;
    margin-top: 0;
}

.result p {
    margin-bottom: 10px;
}